*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1192px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__header {
    display: flex;
    gap: 492px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #fc4308;
}

.header__logo a {
    display: flex;
    gap: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #fc4308;
}

.header__list {
    display: flex;
    gap: 28px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fc4308;
}

.header__contact {
    border: 1px solid #fc4308;
    border-radius: 3px;
    padding: 8px 16px 10px 16px;
    width: 96px;
    height: 38px;
}

.intro {
    background: linear-gradient(223deg, #0d1e20 0%, #313e2a 69.51%, #262d20 96.88%);
    padding-top: 25px;
}

.intro__intro {
    display: flex;
}

.intro__header {
    font-weight: 500;
    font-size: 100px;
    line-height: 105%;
    color: #fc4308;
    padding-top: 200px;
}

.intro__sign {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fc4308;
    padding-top: 25px;
    max-width: 430px;
}

.intro__first-column img {
    margin-top: 25px;
}

.intro__second-column {
    padding-top: 80px;
    padding-bottom: 80px;
}

.our-work {
    background: #0e1513;
    padding-bottom: 90px;
}

.our-work__header {
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fc4308;
    padding-top: 80px;
}

.our-work__images {
    padding-top: 60px;
    display: flex;
    gap: 25px;
}

.our-work__year {
    padding-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: rgba(252, 67, 8, 0.8);
}

.our-work__author {
    padding-top: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 105%;
    letter-spacing: -0.07em;
    color: #fc4308;
}

.our-work__button {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fc4308;
    border: 1px solid #fc4308;
    border-radius: 3px;
    padding: 8px 16px 10px 16px;
    width: 140px;
    height: 38px;
    margin-top: 88px;
    margin-left: 1080px;
}

.examples {
    background: linear-gradient(90deg, #323e2a 0%, #101815 100%);
    padding-bottom: 80px;
}

.examples__first-column {
    
}

.examples__time {
    padding-top: 155px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #fc4308;
}

.examples__header {
    padding-top: 15px;
    font-weight: 500;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: -0.07em;
    color: #fc4308;
}

.examples__sign {
    padding-top: 24px;
    padding-bottom: 88px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fc4308;
}

.examples__button {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fc4308;
    border: 1px solid #fc4308;
    border-radius: 3px;
    padding: 8px 16px 10px 16px;
    width: 160px;
    height: 38px;
}

.examples__second-column img {
    width: 560px;
    height: 640px;
}

.examples__first {
    display: flex;
    gap: 190px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.examples__second {
    display: flex;
    gap: 190px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.examples__third {
    display: flex;
    gap: 190px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.examples__fourth {
    padding-top: 80px;
    text-align: center;
}

.examples__time-fourth {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #fc4308;
}

.examples__fourth img {
    padding-top: 60px;
    padding-left: 65px;
    padding-bottom: 50px;
}

.examples__button-fourth {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fc4308;
    border: 1px solid #fc4308;
    border-radius: 3px;
    padding: 8px 16px 10px 16px;
    width: 160px;
    height: 38px;
}

.contact {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fc4308;
    background-color: #0e1513;
    padding-bottom: 130px;
}

.contact__header {
    padding-top: 120px;
    max-width: 680px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 100px;
    line-height: 105%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fc4308;
}

.contact__sign {
    padding-top: 25px;
    max-width: 680px;
    margin: 0 auto;
    padding-bottom: 65px;
}

.contact__button {
    border: 1px solid #fc4308;
    border-radius: 3px;
    padding: 8px 16px 10px 16px;
    width: 119px;
    height: 38px;
}

.footer {
    background-color: #0e1513;
}

.footer__footer {
    padding-top: 15px;
    display: flex;
    gap: 595px;
    padding-bottom: 115px;
}

.footer__container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__logo a {
    display: flex;
    gap: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #fc4308;
}

.footer__nav {

}

.footer__list {
    display: flex;
    gap: 28px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fc4308;
}

.footer__contact {
    border: 1px solid #fc4308;
    border-radius: 3px;
    padding: 8px 16px 10px 16px;
    width: 96px;
    height: 38px;
}

small {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fc4308;
}

.footer__end {
    border-top: 1px solid #fc4308;
    padding: 32px 0px 0px 0px;
    width: 1300px;
    height: 56px;
    display: flex;
    gap: 830px;
    padding-bottom: 45px;
}

.footer_social-media {
    display: flex;
    gap: 20px;
}
